<a href="https://colab.research.google.com/github/Jeniba29/Jeniba/blob/main/Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Program to accept the details of a student like name,roll number and mark and display it

In [ ]:
Name=input("Enter the name:")# Enter the name of the student#
Roll_No=input("Enter the roll number:")# Enter the roll no of the student#
Mark=input("Enter the mark:")# Enter the mark of the student#
print("Name:",Name)
print("Roll No:",Roll_No)
print("Mark:",Mark)

Enter the name:Anisha
Enter the roll number:21
Enter the mark:78
Name: Anisha
Roll No: 21
Mark: 78

Program to convert temperatures to and from celsius Fahrenheit

In [ ]:
f=int(input("Temperature in fahrenheit="))#Enter the temperature in fahrenheit#
C=5/9*(f-32)
print("Temperature in celsius=",C)

Temperature in fahrenheit=41
Temperature in celsius= 5.0

Program to accept two numbers from the user and display its product

In [ ]:
a=int(input("Enter a number:"))#Enter a number#
b=int(input("Enter another number:"))#Enter another number from a user#
c=a*b
print("The product of given number is:",c)

Enter a number:10
Enter another number:3
The product of given number is: 30

Program to accept a string "Learn Python by Developing a Website" and display the string like "Learn**Python**by Developing a**Website**"

In [ ]:
print("\"Learn**Python**by Developing a**Website**\"")

"Learn**Python**by Developing a**Website**"

Program to accept the radius of a circle and display its area

In [ ]:
import math
radius=int(input("Enter the radius of circle:"))#Enter the radius of the circle#
area=math.pi*radius**2
print("The area of circle is:",area)

Enter the radius of circle:4
The area of circle is: 50.26548245743669

Program to insert a number to any position in a list

In [ ]:
list=[22,44,55,77]
list.insert(1,88)
list

[22, 88, 44, 55, 77]

Program to rename a key city to a location

In [ ]:
sample_dict={"name":"John","age":5,"salary":8000,"city":"New york"}
sample_dict["location"]=sample_dict.pop("city")
sample_dict

{'name': 'John', 'age': 5, 'salary': 8000, 'location': 'New york'}

Program to change Brad's salary to 8500

In [ ]:
sample_dict={'emp1':{'name':'john','salary':7500},'emp2':{'name':'Emma','salary':8000},'emp3':{'name':'Brad','salary':500}}
sample_dict['emp3']['salary']=8500
sample_dict

{'emp1': {'name': 'john', 'salary': 7500},
 'emp2': {'name': 'Emma', 'salary': 8000},
 'emp3': {'name': 'Brad', 'salary': 8500}}

Program to copy elements 43 and 54 from the following tuple into a new tuple

In [ ]:
tuple1=(10,20,43,54,56,68)
tup=tuple1[2:4]
tup

Counts the number of occurrences of item 50 from a tuple

In [ ]:
tuple1=(50,10,60,70,50,83,567,50,81)
tuple1.count(50)

3