In [1]:
#in and not in
l=[5,6,7,8]
5 in l

True

In [4]:
s='hello'
'h'not in s

False

# for loop

In [6]:
animals=['cat','dog','cow']
for animal in animals:
    print("hi "+animal)

hi cat
hi dog
hi cow

In [7]:
l=list(range(3))
print(l)

[0, 1, 2]

In [8]:
l=list(range(0,20))
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [9]:
l=list(range(0,20,2))
l

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [10]:
l=list(range(20,2,-1))
l

[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3]

In [12]:
#to print all odd num til 10
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [13]:
# to print all nos till 10 in reverse order
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [14]:
#to print square of all nos till 10 nos
for i in range(1,10):
    print(i*i)

1
4
9
16
25
36
49
64
81

In [17]:
#to print all nos divisible by 3 from 1 to 51
for i in range(1,52):
    if(i%3==0):
        print(i)

3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48
51

In [21]:
#read the list of nos from user & its sum
l=int(input("Enter the limit"))
sum_n=0
for i in range(l):
    num=int(input())
    sum_n=sum_n+num
print("sum is ",sum_n)

Enter the limit5
1
2
3
4
5
sum is  15

In [22]:
#read the list of nos from user & its sum and average
l=int(input("Enter the limit"))
sum_n=0
for i in range(l):
    num=int(input())
    sum_n=sum_n+num
print("sum is ",sum_n)
print("average is ",sum_n/l)

Enter the limit5
1
2
3
4
5
sum is  15
average is  3.0

In [24]:
l=int(input("Enter the limit"))
num_list=[]
for i in range(l):
    num=int(input())
    num_list.append(num)
print(num_list)

Enter the limit4
2
3
4
1
[2, 3, 4, 1]

In [27]:
num_list=[2,3,4,1]
sum_list=0
for val in num_list:
    sum_list=sum_list+val
print("sum is ",sum_list)

sum is  10

In [28]:
fruits=['apple','mango','grapes']
for fruit in fruits:
    print(fruit,end=' ')

apple mango grapes

In [34]:
s="I am learning python"
for char in s:
    print(char,end='')

I am learning python

# while loop

In [37]:
a=1
while a<10:
    print(a)
    a+=2       #a=a+2
print("out of loop")

1
3
5
7
9
out of loop

In [39]:
#sum of first 100 nos
start=1
sum_100=0
while start<=100:
    sum_100=sum_100+start
    start +=1
print("Sum is",sum_100)

Sum is 5050

In [41]:
#Basic interactive pgm
print("Welcome to ICTAK")
while True:
    x=input("Enter Quit to stop")
    x=x.lower()
    if x=='quit':
        print("see you later")
        break
    y=x.split()
    if len(y) == 0:
        print("Enter a valid input")
    elif 'morning' in y:
        print("Good morning")
    elif 'course' in y:
        print("plz visit www.ictak.org for more details")
    elif 'python' in y:
        print("Yes we have python course,plz visit www.ictak.org for more details")
    else:
        print("Plz use another option")

Welcome to ICTAK
Enter Quit to stopgud morning
Good morning
Enter Quit to stop0
Plz use another option
Enter Quit to stop
Enter a valid input
Enter Quit to stopis there is a python course
plz visit www.ictak.org for more details
Enter Quit to stoppython
Yes we have python course,plz visit www.ictak.org for more details
Enter Quit to stopQuit
see you later

# break,continue,pass

In [43]:
for i in range(10):
    print(i)
    if i==5:
        break
print("execution completed")

0
1
2
3
4
5
execution completed

In [50]:
for i in range(10):
    if i==5:
        continue
    print(i)
print("execution completed")

0
1
2
3
4
6
7
8
9
execution completed

In [52]:
for i in range(10):
    pass
print("Execution completed")

Execution completed

In [59]:
p= "pyithon"
for letter in p:
    if letter == 'i':
        continue
    print(letter,end='')

python

In [76]:
#to check whether the gn no is prime no or not
n=int(input("Enter the no"))
if n>1:
    for i in range(2,n):
        if n%i==0:
            print("Number is not prime")
            break
    else:
        print("Number is Prime")
else:
    print("Number is not positive")

Enter the no5
Number is Prime

In [78]:
#print multiplication table of 5
for i in range(1,11):
    print('5*',i,'=',5*i)

5* 1 = 5
5* 2 = 10
5* 3 = 15
5* 4 = 20
5* 5 = 25
5* 6 = 30
5* 7 = 35
5* 8 = 40
5* 9 = 45
5* 10 = 50

In [79]:
#print multiplication table of all numbers upto 5
for i in range(1,6):
    print("Multiplication table of",i)
    for j in range(1,11):
        print(j,'*',i,'=',j*i)

Multiplication table of 1
1 * 1 = 1
2 * 1 = 2
3 * 1 = 3
4 * 1 = 4
5 * 1 = 5
6 * 1 = 6
7 * 1 = 7
8 * 1 = 8
9 * 1 = 9
10 * 1 = 10
Multiplication table of 2
1 * 2 = 2
2 * 2 = 4
3 * 2 = 6
4 * 2 = 8
5 * 2 = 10
6 * 2 = 12
7 * 2 = 14
8 * 2 = 16
9 * 2 = 18
10 * 2 = 20
Multiplication table of 3
1 * 3 = 3
2 * 3 = 6
3 * 3 = 9
4 * 3 = 12
5 * 3 = 15
6 * 3 = 18
7 * 3 = 21
8 * 3 = 24
9 * 3 = 27
10 * 3 = 30
Multiplication table of 4
1 * 4 = 4
2 * 4 = 8
3 * 4 = 12
4 * 4 = 16
5 * 4 = 20
6 * 4 = 24
7 * 4 = 28
8 * 4 = 32
9 * 4 = 36
10 * 4 = 40
Multiplication table of 5
1 * 5 = 5
2 * 5 = 10
3 * 5 = 15
4 * 5 = 20
5 * 5 = 25
6 * 5 = 30
7 * 5 = 35
8 * 5 = 40
9 * 5 = 45
10 * 5 = 50