In [2]:
# to print only those num is divisible by 5
num=[10,20,33,46,55]
new_num=[]
for num1 in num:
    if (num1 % 5 == 0):
        new_num.append(num1)
print(new_num)

[10, 20, 55]

In [2]:
#reverse a list using for loop
list=[10,40,30,70]
rev_list=[]
for i in range(4):   
    rev_list.append(list[4-i-1])
print(rev_list)

[70, 30, 40, 10]

In [4]:
for i in range(4):
    for j in range(i+1):
        print("*",end='')
    print("\n")

*

**

***

****

In [4]:
for i in range(5):
    for j in range(i+1):
        print("*",end='')
    print("\n")
for i in range(5):
    for j in range(5-i-1):
        print("*",end='')
    print("\n")

*

**

***

****

*****

****

***

**

*

In [1]:
#multiply each element of list by 2 and add it into a new list
list2=[5,10,33,55]
num_list=[]
for num in list2:
    num=num*2
    num_list.append(num)
print(num_list)

[10, 20, 66, 110]